.bet-field {
	margin: 2px 2rem;
	padding: 10px 25px;
	display: flex;
	flex-direction: column;
    color: rgb(4, 61, 24);
    font-weight: 700;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 20px;
}

.final-bet {
	margin-bottom: 3px;
}

label {
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-items: center;
	text-align: right;
	width: 100px;
	line-height: 26px;
	margin-bottom: 10px;
}

input {
	height: 30px;
    width: 60px;
	margin-left: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    border: 2px green solid;
}

span {
    padding: 0 10px;
}

.bet-buttons {
    font-weight: 900;
    border-radius: 7px;
    padding: 0 1.5px;
}


.reset {
	background-color: rgb(163, 16, 16);
	border-radius: 15px;
	font-weight: bold;
	padding: 7px;
	color: azure;
	border: none;
}

.reset:hover {
	background-color: black;
	color: crimson;
}