.draw-field {
    margin: 10px 0;
    padding: 10px 25px;
    font-weight: 700;
    background-color: #fff;
    border-radius: 15px;
}

.draw-title {
    margin-bottom: 7px;
}


.draw-button-plus {
    font-weight: 900;
    border-radius: 7px;
    padding: 0 1.5px;
}